.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 20px;

    .card {
        border-radius: 20px;
        margin: 0 auto;
    }

    .beige {
        background-color: getColour(beige);
        border: none;
    }
    
    .white {
        background-color: getColour(white);
        border-color: getColour(primary);
    }

    .pink {
        background-color: getColour(primary);
        border-color: white;
    }
}
